
$theme-colors:(
    "primary": #E3E3E3,
);

@import 'node_modules/bootstrap/scss/bootstrap';

$colors:(
    bg: #E3E3E3,
    nav-link: #666666,
    nav-brand: #191919,
    border: #B3B3B3,
    longline: #E3E3E3,
    small-line: #D2D2D2,
    bottom-text: #666666,
    card-title: #191919,
    card-text:#4D4D4D,
    subheader: #666666,
    contact-text: #4A4A4A,
    form-border: #D2D2D2,
    form-button: #191919,
    font-icon: #191919,
);

$zero-margin: 0px;
$zero-padding: 0px;
$mob-padding: 30px;
$uppercase: uppercase;
$news-img: 195px;
$events-img: 165px;

@function display($color-name){
    @return map-get($colors, $color-name )
};

$nav-link: (
    text-color: display(nav-link),
    text-size:15px,
    lineHeight: 18px,
    padding: $zero-padding,
    margin: $zero-margin,
);

@function getNavLink($style){
    @return map-get($nav-link, $style)
}

$horizontal-longline: (
    border: 1px solid display(longline),
    width: 1140px,
    align: center,
);

@function getHorizontalLongLine($style){
    @return map-get($horizontal-longline, $style);
};

$horizontal-smallline: (
    border: 1px solid display(small-line),
    width: 235.88px,
    align: center,
);

@function getHorizontalsmallLine($style){
    @return map-get($horizontal-smallline, $style);
};

$cardTitle:(
    font-size: 16px,
    line-height: 19px,   
);

@function getCardTitle($style){
    @return map-get($cardTitle, $style);
};

$card-text: (
    font-size: 15px,
    line-height: 19px,
);

@function getCardText($style){
    @return map-get($card-text, $style);
};

$desktop: 1145px;

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

$mobile: 650px;

@mixin mobile{
    @media (max-width: #{$mobile}) {
        @content;
    }
}
html{
    margin: $zero-margin;
    padding: $zero-padding;
}

body{
    margin: $zero-margin;
    padding: $zero-padding;


    hr.long-line{
        border: getHorizontalLongLine(border);
        width: getHorizontalLongLine(width);
        align-self: getHorizontalLongLine(align);

        @include desktop{
            width: 845px;
        }

        @include mobile{
            width: 300px;
        }
    }

    hr.small-line{
        border: getHorizontalsmallLine(border);
        width: getHorizontalsmallLine(width);
        align-self: getHorizontalsmallLine(align);
        margin: $zero-margin;
        padding: $zero-padding;
    }

}

//header div style
div.header{
    width: 100%;
    height: 903px;
    background-color: display(bg);
    margin: $zero-margin;
    padding: $zero-padding;

    //header div desktop style
    @include desktop{
        width: 100%;
        height: auto;
    }

    //the menu container style
    section.header__container{
        width: 100%;
        padding-left: 125px;

        //the menu container desktop style
        @include desktop{
            width: 100%;
            padding: $mob-padding;
        }
        
        //responsive menu for tab and mobile
        .header__responsive-menu{
            display: none;

            @include desktop{
                display: flex;
                flex-direction: row;
                height: auto;

                .navbar-brand{
                    margin-right: 20%;
                }

                .navbar-nav{
                    padding: $mob-padding;
                }
                .nav-item{
                    padding-left: 30%;
                    padding-right: 30%;
                }
                .nav-item:hover{
                    background-color: white;
                }
                
            }

            @include mobile{
                padding: $zero-padding;

                .navbar-brand{
                    margin-right: 20px;
                }
            }
        }

        //the menu for desktop
        .header__large-menu{
            width: 100%;
            height: 100px;
            padding: 0px 20px;

            .header__left-menubar{
                margin: 0 auto;

                .nav-item{
                    padding-right: 32px;

                    .nav-link{
                        color: getNavLink(text-color);
                        font-size: getNavLink(text-size);
                        line-height: getNavLink(lineHeight);
                        text-transform: $uppercase;
                        padding: getNavLink(padding);
                        margin: getNavLink(margin);
                    }
                    .nav-link:hover{
                        background-color: white;
                    }
                }

                
                
            }

            .navbar-brand{
                color: display(nav-brand) !important;
                font-size: 24px;
                line-height: 28px;
                text-transform: $uppercase;
                margin-right: 0px;
            }

            .header__right-menubar{
                padding-right: 10%;

                .nav-item{
                    padding-left: 35px;

                    .nav-link{
                        color: getNavLink(text-color);
                        font-size: getNavLink(text-size);
                        line-height: getNavLink(lineHeight);
                        text-transform: $uppercase;
                        padding: getNavLink(padding);
                        margin: getNavLink(margin);
                    }
                    .nav-link:hover{
                        background-color: white;
                    }
                }

                

            }

            @include desktop{
                display: none;
            }
           
        }
        
    }
}

.header__banner{
    width: 100%;
    height: 703px;
    opacity: 0.75;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    
    .header__banner-text{
        width: 100%;
        height: auto;
        padding-top: 20%;
        padding-right: 25%;
        padding-left: 25%;
        font-size: 20px;
        line-height: 40px;

        @include mobile{
            padding-top: 30%;
            padding-right: $mob-padding;
            padding-left: $mob-padding;
        }
    }
}

.header__banner-info-container{
    display: grid;
    grid-template-columns: 1fr 95px 1fr;
    height: 100px;

    @include mobile{
       display: grid;
       padding: $mob-padding;
    }
    
    section.header__banner-address{
        text-align: right;
        font-size: 14px;
        line-height: 22px;
        justify-self: end;
        padding-top: 29px;

        .header__address-text{
            margin: $zero-margin;
        }
    }
    section.header__middle-line{
        width: 1px;
        height: 39px;
        background-color: display(border);
        margin: 31px 0px 30px;
        justify-self: center;
    }
    section.header__social-icons{
        align-self: left;
        font-size: 18px;
        line-height: 18px;
        justify-self: start;
        padding-top: 42px;
    }
    
    @include mobile{
        display: grid;
        grid-template-columns: repeat(1, auto);
        height: auto;

        section.header__banner-address{
            text-align: center;
            justify-self: center;
            padding: $zero-padding;
            margin: $zero-margin;
        }

        section.header__middle-line{
            height: 1px;
            width: 39px;
        }

        section.header__social-icons{
            align-self: center;
            justify-self: center;
            padding: $zero-padding;
            margin: $zero-margin;
        }
    }
}

div.about{
    width: 100%;
    height: auto;
    padding: 94px 151px 91px 150px;
    
    .about__grid-img-1{
        max-width: 100%;
        height: auto;
        padding-right: 30px;

        .about__main-title{
            font-size: 35px;
            line-height: 41px;
            margin-bottom: 42px;
        }
    }
    .about__grid-2{
        max-width: 100%;
        height: auto;
        padding-left: 30px;
        padding-top: 83px;

        .about__title{
            font-size: 22px;
            line-height: 25px;
            margin-bottom: 20px;
        }

        .about__description{
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 30px;
        }
    }

    @include desktop{
        padding: $mob-padding;
        height: auto;
    }
    @include mobile{

        .about__grid-1{
            padding: $mob-padding;
            margin: $zero-margin;
            
            .img-fluid{
                max-width: 100%;
                height: auto;
            }
        }

        .about__grid-2{
            padding: $mob-padding;
            margin: $zero-margin;
        }
    } 
}

div.news{
    width: 100%;
    height: 1052px;
    padding: 91px 151px 99px 150px;

    @include desktop{
        height: auto;
        padding: $mob-padding;
    }
    
    .news__main-title{
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 40px;

        @include desktop{
            padding: $mob-padding;
        }
    }

    .news__more-text{
        width: 100%;
        padding-right: 45%;
        padding-left: 45%;
        height: 50px;
        font-size: 20px;
        line-height: 24px;
        color: display(bottom-text);
        margin-top: 76px;
        align-items: center;

        @include mobile{
            padding-right: 35%;
            padding-left: 35%;
        }
    
        i{
            margin-left: 10px;
        }
    }

    div.row{

        @include desktop{
            padding: $mob-padding;
            gap: 30px;
            .card-4{
                margin-top: -45px;
            }
        }

        @include mobile{
            gap: 0px;
            .card-6{
                margin-top: 0px;
            }
        }
        div.col-md-6,
        div.col-sm-1{
            padding: $zero-padding;

            @include desktop{
                padding-right: $zero-padding;
                max-width: 100%;
            }   
        }
        div.col-xl-3{
            padding: $zero-padding;
        }

        div.card{
            background-color: display(bg);
            margin-bottom: 4px;
            margin-right: 4px;

            @include desktop{
                width: 100%;
                height: auto;    
            }

            .card-title{
                font-size: getCardTitle(font-size);
                line-height: getCardTitle(line-height);
                padding: 22px 0px 20px 20.51px;
                color: display(card-title);
                margin: $zero-margin;
            }
            .card-text{
                font-size: getCardText(font-size);
                line-height: getCardText(line-height);
                color: display(card-text);
                padding: 0px 17.71px 23px 20.51px;
            }

            .img-fluid{
                max-width: 100%;
                height: auto;
            }  
            
            .btn{
                text-align: left;
                padding: 13px 20.51px;
            }
        }

       
    }
}

div.events{
    width: 100%;
    height: 573px;
    padding: 66px 67px 99px;

    .events__main-title{
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 42px;
        padding-left: 83px;
    }

    @include desktop{
        height: auto;
        padding: $mob-padding;
    }

    @include mobile{
        h2.event-heading{
            padding-left: $mob-padding;
        }
    }
}

div.event-carousel{

    .carousel-inner{
        a.carousel-control-prev-icon,
        a.carousel-control-next-icon{
            font-size: 48px;
            align-self: center;
            color: display(font-icon);    
        }
        span.carousel-control-prev-icon{
            padding-right: 66px;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }
        span.carousel-control-next-icon{
            padding-left: 66px;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }

        .carousel-item{
            width: 100%;
            padding: 0px 82px;

            @include mobile{
                padding: 0px;
            }
            div.row{
                div.col-md-6,
                div.col-sm-1{
                    @include desktop{
                        max-width: 100%;
                        padding: $mob-padding;
                    }
                } 
                div.col-xl-3{
                    padding: 0px 4px;

                    @include mobile{
                        padding: $zero-padding;
                    }
                }
                div.card{
                    padding: $zero-padding;

                    img.card-img-top{
                        height: $events-img;
                    }
                    h3.card-title{
                        font-size: getCardTitle(font-size);
                        line-height: getCardTitle(line-height);
                        color: display(card-title);
                        margin-right: 4px;
                        padding: 22px 0px 20px 20.51px;
                    }
                    p.card-text{
                        font-size: getCardText(font-size);
                        line-height: getCardText(line-height);
                        color: display(card-text);
                        padding: 0px 17.71px 0px 20.51px;
                    }
                    .btn{
                        text-align: left;
                        padding: 13px 20.51px;
                    }
                }
            }
        }


    }

    @include desktop{
        display: block;
        padding: $mob-padding;
    }

    .card-title{
        @include desktop{
            padding-left: 10px;
        }
    }
    .card-text{
        @include desktop{
            padding-left: 10px;
        }
    }

    .carousel-control-prev,
    .carousel-control-next{
        width: 20px;
    }
}

div.gallery{
    width: 100%;
    height: 942px;
    padding: 92px 151px 99px 150px;

    .gallery__main-title{
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 20px;
    }
    .gallery__description{
        color: display(subheader);
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 50px;
    }
    .gallery__more-text{
        width: 100%;
        padding: 0% 45%;
        height: 50px;
        font-size: 20px;
        line-height: 24px;
        color: display(bottom-text);
        margin-top: 75px;

        @include desktop{
            padding-right: 35%;
            padding-left: 35%;
            margin-top: 75px;
        }

        i{
            margin-left: 10px;
        }
        
    }

    .gallery__carousel-responsive{
        display: none;
    }

    @include desktop{
        height: auto;
        padding: $mob-padding;

        .gallery__carousel-responsive{
            display: block;
        }
    }
}

.gallery__grid-row{

    .col-md-3{
        padding: $zero-padding;
    }

    .gallery__img-1{
        height: 180px;
        background-image: url(../images/gallery1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-bottom: 4px;
        margin-right: 4px;

        p{
            color: #FFFFFF;
            padding: 128px 62px 14px 20px;
        }
    }
    .gallery__img-2{
        height: 310px;
        background-image: url(../images/gallery2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-bottom: 4px;
        margin-right: 4px;

        p{
            color: #FFFFFF;
            padding: 238px 57px 14px 20px;
        }
    }
    .gallery__img-3{
        height: 225px;
        background-image: url(../images/gallery3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-bottom: 4px;
        margin-right: 4px;

        p{
            color: #FFFFFF;
            padding: 173px 102px 14px 20px;
        }
    }
    .gallery__img-4{
        height: 180px;
        background-image: url(../images/gallery4.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-bottom: 4px;
        margin-right: 4px;

        p{
            color: #FFFFFF;
            padding: 128px 112px 14px 20px;
        }
    }
    .gallery__img-5{
        height: 225px;
        background-image: url(../images/gallery5.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-bottom: 4px;
        margin-right: 4px;

        p{
            color: #FFFFFF;
            padding: 173px 92px 14px 20px;
        }
    }
    .gallery__img-6{
        height: 180px;
        background-image: url(../images/gallery6.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-bottom: 4px;
        margin-right: 4px;

        p{
            color: #FFFFFF;
            padding: 128px 30px 14px 20px;
        }
    }
    .gallery__img-7{
        height: 180px;
        background-image: url(../images/gallery7.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-bottom: 4px;
        margin-right: 4px;

        p{
            color: #FFFFFF;
            padding: 128px 38px 14px 20px;
        }
    }
    .gallery__img-8{
        height: 310px;
        background-image: url(../images/gallery8.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-bottom: 4px;
        margin-right: 4px;

        p{
            color: #FFFFFF;
            padding: 258px 58px 14px 20px;
        }
    }

    @include desktop{
        display: none;  
    }
}

div.contact{
    width: 100%;
    height: 904px;
    padding: 92px 151px 99px 150px;

    .contact__main-title{
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 42px;
    }

    @include desktop{
        height: auto;
        padding: $mob-padding;
    }
}

div.contact__grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 34px;

    .contact__grid-1{
        .contact__title{
            font-size: 22px;
            line-height: 25px;
        }
        .contact__text{
            font-size: 15px;
            line-height: 18px; 
            color: display(contact-text);
            margin-top: 20px;
            margin-bottom: 38px;
        }
    }

    .contact__grid-2{
        .contact__form-title{
            font-size: 22px;
            line-height: 25px;
            margin-bottom: 22px;
        }
        .contact__map-img{
            width: 750px;
            height: 275px;
        }
        .contact__form{
            display: grid;
            grid-template-columns: 263px 1fr;
            gap: 30px;

            .contact__form-grid-1{

                input{
                    width: 263px;
                    height: 46px;
                    margin-bottom: 20px;
                    border: 1px solid display(form-border);
                    padding: 10px;
                } 
            }

            .contact__form-grid-2{
                input{
                    width: 453px;
                    height: 178px;
                    border: 1px solid display(form-border);
                    padding: 10px;
                }
            }
            button{
                width: 150px;
                height: 50px;
                border: 2px solid display(form-button);
                border-radius: 6px;
                margin: 30px 400px 49px 250px;
            }
        }
    }

    @include desktop{
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 0px;

        .contact__grid-1{
            .contact__text{
                width: 100%;
            }
        }

        .contact__grid-2{
            .contact__map-img{
                width: 100%;
                margin-top: 30px;
            }
            .contact__form{
                display: grid;
                grid-template-columns: repeat(1, auto);

                .contact__form-grid-1{
                    input{
                        margin-right: 20px;
                    }
                    
                }

                .contact__form-grid-2{
                    input{
                        width: 100%;
                    }
                    
                }
                button{
                    margin: 0 auto;
                }
            }
        }
    }
}

.footer{
    height: 152px;
    background-color: display(bg);
    text-align: center;

    .footer__copyright{
        font-size: 15px;
        line-height: 18px;
        padding-top: 34px;
    }
    .footer__end-text{
        text-transform: uppercase;
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 34px;
        margin-bottom: $zero-margin;
        span{
            font-size: 35px;
            line-height: 41px;
        }
    }
}

